= form_for @inventory do |f|
	.form-group
		/ - if @card.name?
		/ 	= f.label :name, 'Card Name', :value => @card.name, class: 'control-label'
		/ 	= f.text_field :name, class: 'form-control'
		/ 	= f.label :notes, 'Notes', :value => @card.notes, class: 'control-label'
		/ 	= f.text_field :notes, class: 'form-control'
		/ 	= f.hidden_field :card_set_id, :value => @card_set.id
		/ -else
		/ 	= f.label :name, 'Card Name', class: 'control-label'
		/ 	= f.text_field :name, class: 'form-control'
		/ 	= f.label :notes, 'Notes', class: 'control-label'
		/ 	= f.text_field :notes, class: 'form-control'
		/ 	= f.hidden_field :card_set_id, :value => @card_set.id
		= f.label :card_id, 'Card Set', class: 'control-label'
		= f.select :card_id, @card_sets.collect {|c| [c.name, c.id]}, {}, class: 'form-control'
	= f.submit 'Submit', class: 'btn btn-default'

:javascript
	$(document).ready(function(){
		$()
	})