%h1 Inventory
.nav.nav-pills
	= link_to 'List New Pull', new_inventory_path, class: 'btn btn-primary'
	/= link_to 'Report Swap', swap_path, class: 'btn btn-primary' #working on this
%br/

= smart_listing_render(:inventories)